*.o
build
.DS_Store
Testing/*.out
Testing/*.csv
Testing/*.geqdsk
Testing/*.h5
Testing/*.bin
__pycache__
dist
*.so
.coverage*
python/dipoleq/core.*
wheelhouse
/.venv
/.tox
/.nox
/.pytest_cache
/.mypy_cache
.python-version

python/dipoleq/_version.py
/beta*
docs/_build
