*.o
build
.DS_Store
Testing/*.out
Testing/*.csv
Testing/*.geqdsk
Testing/*.h5
Testing/*.bin
__pycache__
dist
*.so
.coverage*
python/dipoleq/*.pyi
python/dipole/*.so
wheelhouse

python/dipoleq/_version.py
/beta*
